In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('data/Social_Network_Ads.csv')
data = data.drop('User ID', axis =1)
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [3]:
for i in range(data.shape[0]):
    if data['Gender'][i]=='Male':
        data['Gender'][i]=1
    else:
        data['Gender'][i]=0

C:\Users\91700\AppData\Local\Temp/ipykernel_22296/3268842045.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'][i]=1
C:\Users\91700\AppData\Local\Temp/ipykernel_22296/3268842045.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'][i]=0

In [4]:
data.head()

  Gender  Age  EstimatedSalary  Purchased
0      1   19            19000          0
1      1   35            20000          0
2      0   26            43000          0
3      0   27            57000          0
4      1   19            76000          0

In [5]:
X = data.drop('Purchased', axis =1)
y = data['Purchased']

In [6]:
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
scaler = StandardScaler()
X_train2 = scaler.fit_transform(X_train)
X_test2 = scaler.transform(X_test)
X2 = scaler.fit_transform(X)

In [8]:
lr = LogisticRegression()
dt = DecisionTreeClassifier()
knn = KNeighborsClassifier()
gnb = GaussianNB()
svm = SVC()

In [9]:
def evaluation(model,X,y,Xt,yt):
    model.fit(X,y)
    print('model ::::::   ', model)
    y_pred = model.predict(Xt)
    print('--------------------classfication report---------------')
    print(classification_report(yt,y_pred))

In [10]:
def cross_validate(model,X,y):
    cv_score = cross_val_score(model,X,y,cv=10,scoring='accuracy')
    print('model ::::::   ', model)
    print('cross validated score === ',cv_score.mean()*100)

In [11]:
evaluation(svm,X_train2,y_train,X_test2,y_test)

model ::::::    SVC()
--------------------classfication report---------------
              precision    recall  f1-score   support

           0       0.92      0.94      0.93        48
           1       0.90      0.88      0.89        32

    accuracy                           0.91        80
   macro avg       0.91      0.91      0.91        80
weighted avg       0.91      0.91      0.91        80

In [12]:
cross_validate(gnb,X2,y)

model ::::::    GaussianNB()
cross validated score ===  87.5

In [13]:
cross_validate(svm,X2,y)

model ::::::    SVC()
cross validated score ===  90.5