In [80]:
import nltk
import pandas as pd
import numpy as np
import requests
import string as st
import matplotlib.pyplot as plt
import re 
import spacy
from textblob import TextBlob

from nltk.tokenize import sent_tokenize,word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, LancasterStemmer, SnowballStemmer
from nltk.stem import WordNetLemmatizer

In [81]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471')
print(response)

<Response [200]>

In [82]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/3p7iRqn4nZLaY2Wue7nZTDPXF.jpg',
  'genre_ids': [28, 80, 18, 53],
  'id': 70586,
  'original_language': 'en',
  'original_title': 'Setup',
  'overview': 'A group of friends plan out a detailed heist that turns deadly when one betrays the other by taking off with the goods. Taking matters into his own hands, Sonny seeks out his revenge teaming up with the most dangerous mob boss in town to get back what is rightfully his. When he finally comes face to face with his longtime friend he will be forced to make a life changing choice.',
  'popularity': 12.858,
  'poster_path': '/h74bol6GYG6eyXIAZVGmQBraI8c.jpg',
  'release_date': '2011-10-17',
  'title': 'Setup',
  'video': False,
  'vote_average': 5,
  'vote_count': 341},
 {'adult': False,
  'backdrop_path': '/jb2JDamfehPdKxJ7s1nt2VJWCJZ.jpg',
  'genre_ids': [27],
  'id': 14564,
  'original_language': 'en',
  'original_title': 'Rings',
  'overview': 'Julia becomes worried about her boyfriend, Holt when he explores the dark urban legend of a mysterious videotape said to kill the watcher seven days after viewing. She sacrifices herself to save her boyfriend and in doing so makes a horrifying discovery: there is a "movie within the movie" that no one has ever seen before.',
  'popularity': 33.735,
  'poster_path': '/5FoczK6tDFzC9OyHiMMNIeNspek.jpg',
  'release_date': '2017-02-01',
  'title': 'Rings',
  'video': False,
  'vote_average': 5,
  'vote_count': 2197},
 {'adult': False,
  'backdrop_path': '/ymDpExuqGJIqJO8sje4NgK4PM3I.jpg',
  'genre_ids': [27, 53],
  'id': 10283,
  'original_language': 'en',
  'original_title': 'Friday the 13th Part VIII: Jason Takes Manhattan',
  'overview': "A group of students on a graduation cruise bound for Manhattan soon realize they've got a stowaway aboard the ship: serial killer Jason Voorhees.",
  'popularity': 34.768,
  'poster_path': '/cLayZ5bgMfKqpEEoBg6tg88Th7W.jpg',
  'release_date': '1989-07-28',
  'title': 'Friday the 13th Part VIII: Jason Takes Manhattan',
  'video': False,
  'vote_average': 5,
  'vote_count': 727},
 {'adult': False,
  'backdrop_path': '/qbTelIYzMR5DzZqcoHEAnFtBqvL.jpg',
  'genre_ids': [27],
  'id': 297160,
  'original_language': 'en',
  'original_title': 'XX',
  'overview': 'This all-female horror anthology features four dark tales from four fiercely talented women.',
  'popularity': 9.708,
  'poster_path': '/drcIFTEIBnWI4G3OQt6rXOI8hf4.jpg',
  'release_date': '2017-02-17',
  'title': 'XX',
  'video': False,
  'vote_average': 5,
  'vote_count': 345},
 {'adult': False,
  'backdrop_path': '/sJEcInnWer58nvYEbZmrx5eAQ7R.jpg',
  'genre_ids': [53, 27, 18, 9648],
  'id': 8968,
  'original_language': 'en',
  'original_title': 'Boogeyman',
  'overview': "Every culture has one – the horrible monster fueling young children's nightmares. But for Tim, the Boogeyman still lives in his memories as a creature that devoured his father 16 years earlier. Is the Boogeyman real? Or did Tim make him up to explain why his father abandoned his family?",
  'popularity': 12.211,
  'poster_path': '/5KffN0UcuAKJdUAcOvZ21OrqXc8.jpg',
  'release_date': '2005-02-04',
  'title': 'Boogeyman',
  'video': False,
  'vote_average': 5,
  'vote_count': 575},
 {'adult': False,
  'backdrop_path': '/bgkaza8dqo2nuwbPkmkHfgm1KTY.jpg',
  'genre_ids': [35, 10749],
  'id': 13257,
  'original_language': 'en',
  'original_title': 'Mr. Woodcock',
  'overview': "Taken aback by his mother's wedding announcement, a young man returns home in an effort to stop her from marrying his old high school gym teacher, a man who made high school hell for generations of students.",
  'popularity': 7.933,
  'poster_path': '/tNOovj6N2C5scr0KgND0aKT2kkd.jpg',
  'release_date': '2007-09-14',
  'title': 'Mr. Woodcock',
  'video': False,
  'vote_average': 5,
  'vote_count': 342},
 {'adult': False,
  'backdrop_path': '/cvapxIaJbC5f7duzu4vqP6ZLKJo.jpg',
  'genre_ids': [27, 53],
  'id': 299245,
  'original_language': 'en',
  'original_title': 'The Gallows',
  'overview': '20 years after a horrific accident during a small town school play, students at the school resurrect the failed show in a misguided attempt to honor the anniversary of the tragedy - but soon discover that some things are better left alone.',
  'popularity': 24.861,
  'poster_path': '/4oBk2DsYRO0VuloOX52ROmz2QhU.jpg',
  'release_date': '2015-07-10',
  'title': 'The Gallows',
  'video': False,
  'vote_average': 5,
  'vote_count': 805},
 {'adult': False,
  'backdrop_path': '/obP94bLjEXGFWQumzkKlBb9Fmzi.jpg',
  'genre_ids': [35],
  'id': 68637,
  'original_language': 'fr',
  'original_title': "L'Élève Ducobu",
  'overview': "Ducoboo is a very inventive dunce and joker, he is very resourceful at finding new ways to copy from his neighbor, to cheat or to defy the teacher's authority.",
  'popularity': 6.841,
  'poster_path': '/y3oAeNkThiarXvICtl5A3FGQN3N.jpg',
  'release_date': '2011-06-22',
  'title': 'Ducoboo',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 346},
 {'adult': False,
  'backdrop_path': '/ew0fG39bgaF2HkXcJZ2xITwjJQ8.jpg',
  'genre_ids': [27, 53],
  'id': 42941,
  'original_language': 'en',
  'original_title': '30 Days of Night: Dark Days',
  'overview': 'After surviving the incidents in Barrow, Alaska, Stella Olemaun relocates to Los Angeles, where she intentionally attracts the attention of the local vampire population in order to avenge the death of her husband, Eben.',
  'popularity': 22.974,
  'poster_path': '/bXHaXVGncI2WKUrNRYDyTyj3ymR.jpg',
  'release_date': '2010-10-04',
  'title': '30 Days of Night: Dark Days',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 380},
 {'adult': False,
  'backdrop_path': '/c4BuO90Sat7DidhrPm4PQLuqJtC.jpg',
  'genre_ids': [12, 35],
  'id': 33624,
  'original_language': 'fr',
  'original_title': 'Double zéro',
  'overview': 'Ben and Bill are the two worst, completely useless agents - real losers. But who else would you send on a super-difficult top-secret mission? The French have just sold a new high-power M51 rocket to the Russians for crazy money. Unfortunately for them, the rocket was hijacked before they could get it of their hands. However, not just any fool is up to neutralizing this threat, but only the craziest and most stupid of them can cope with such a task.',
  'popularity': 9.757,
  'poster_path': '/vCPKGHTiuxg3y7JsWfN0ScoWAQ4.jpg',
  'release_date': '2004-06-16',
  'title': 'Double zéro',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 245},
 {'adult': False,
  'backdrop_path': '/u4QBchp2LtJBc9LJdn210T76pHO.jpg',
  'genre_ids': [12, 27, 9648, 53],
  'id': 185460,
  'original_language': 'en',
  'original_title': 'Willow Creek',
  'overview': 'A young couple ventures into the woods to capture footage of the elusive Bigfoot.',
  'popularity': 9.582,
  'poster_path': '/8pP4tEeM7R6G4MSyxhFblwCja1P.jpg',
  'release_date': '2013-05-02',
  'title': 'Willow Creek',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 227},
 {'adult': False,
  'backdrop_path': '/jyzuK6OgWzibgAblJzxANUHSZ2x.jpg',
  'genre_ids': [28, 12, 35, 10751, 14, 878],
  'id': 14623,
  'original_language': 'en',
  'original_title': 'Thunderbirds',
  'overview': "Dangerous missions are the bread and butter of the Thunderbirds, a high-tech secret force employed by the government. Led by Jeff Tracy (Bill Paxton), the Thunderbirds are at the top of their game, but their nemesis, The Hood (Ben Kingsley), has landed on their island and is attempting a coup by using the team's rescue vehicles. He'll soon discover that the Thunderbirds won't go down.",
  'popularity': 13.368,
  'poster_path': '/1jH0vADEIvuRlkvJzLUW5nVO96d.jpg',
  'release_date': '2004-07-23',
  'title': 'Thunderbirds',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 234},
 {'adult': False,
  'backdrop_path': '/fDLV4j53M7tVipbKZdJD1weibGi.jpg',
  'genre_ids': [28, 53],
  'id': 3177,
  'original_language': 'ja',
  'original_title': 'バトル・ロワイアルII 鎮魂歌',
  'overview': 'It\'s three years after the events of the original Battle Royale, and Shuya Nanahara is now an internationally-known terrorist determined to bring down the government. His terrorist group, Wild Seven, stages an attack that levels several buildings in Tokyo on Christmas Day, killing 8000 people. In order for the government to study the benefits of "teamwork", the new students work in pairs, with their collars electronically linked so that if one of them is killed, the other dies as well. They must kill Nanahara in three days - or die.',
  'popularity': 12.091,
  'poster_path': '/jLGtajjV1SAGqNtHrfaB09SrkBX.jpg',
  'release_date': '2003-07-05',
  'title': 'Battle Royale II: Requiem',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 334},
 {'adult': False,
  'backdrop_path': '/M1w7Uk6Bs4sCXqEqsVFMZc200E.jpg',
  'genre_ids': [53, 28, 878],
  'id': 269173,
  'original_language': 'en',
  'original_title': 'The Anomaly',
  'overview': 'A former soldier is taken captive and awakens in the back of a van where he learns that he only has less than 10 minutes to figure out how he got there.',
  'popularity': 21.683,
  'poster_path': '/zqeHMxO2UZmrRiRJLLxyGog3PdC.jpg',
  'release_date': '2014-06-19',
  'title': 'The Anomaly',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 273},
 {'adult': False,
  'backdrop_path': '/9yL5iOq5sLZdZOemXvSLBIw3elj.jpg',
  'genre_ids': [27, 53, 9648],
  'id': 11246,
  'original_language': 'en',
  'original_title': 'Hellraiser: Hellseeker',
  'overview': "Kirsty Cotten is now all grown up and married. Her memory of the events that took place back at her parent's home and the mental institution have dimmed, but she is still traumatized. A fatal car crash kills Kirsty. Now, her husband finds himself in a strange world full of sexy women, greed and murder, making him believe that he is in hell.",
  'popularity': 15.141,
  'poster_path': '/c0rgSl2d6j0dL10OM0zKXm6a8Dk.jpg',
  'release_date': '2002-10-15',
  'title': 'Hellraiser: Hellseeker',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 229},
 {'adult': False,
  'backdrop_path': '/3ZSgAF7SfJp96sqyKnBb1R6aAK2.jpg',
  'genre_ids': [35, 10749],
  'id': 2830,
  'original_language': 'en',
  'original_title': "My Boss's Daughter",
  'overview': "When a young man agrees to housesit for his boss, he thinks it'll be the perfect opportunity to get close to the woman he desperately has a crush on – his boss's daughter. But he doesn't plan on the long line of other houseguests that try to keep him from his mission. And he also has to deal with the daughter's older brother, who's on the run from local drug dealers.",
  'popularity': 11.26,
  'poster_path': '/eZsFXr3m0shC5HH7SRlZouiuQVH.jpg',
  'release_date': '2003-08-21',
  'title': "My Boss's Daughter",
  'video': False,
  'vote_average': 4.9,
  'vote_count': 560},
 {'adult': False,
  'backdrop_path': '/p2Zdt99YSZsQumY1HYZBF1PXbKI.jpg',
  'genre_ids': [878, 27, 14, 53],
  'id': 10384,
  'original_language': 'en',
  'original_title': 'Supernova',
  'overview': 'Set in the 22nd century, when a battered salvage ship sends out a distress signal, the seasoned crew of the rescue hospital ship Nova-17 responds. What they find is a black hole--that threatens to destroy both ships--and a mysterious survivor whose body quickly mutates into a monstrous and deadly form.',
  'popularity': 17.359,
  'poster_path': '/AmHGUjhgXnOYRYrF2ZYMtzfwxPe.jpg',
  'release_date': '2000-01-14',
  'title': 'Supernova',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 273},
 {'adult': False,
  'backdrop_path': '/kNGW6f47HUk0hISjj1AvXoLNL3L.jpg',
  'genre_ids': [28, 878, 27, 9648],
  'id': 520901,
  'original_language': 'en',
  'original_title': 'Doom: Annihilation',
  'overview': "A group of UAC Marines responds to a distress call from a top-secret scientific base on Phobos, a Martian moon, only to discover it's been overrun by demons.",
  'popularity': 27.854,
  'poster_path': '/7EGElXVSNnqcPjuhXPd6UVUX1rD.jpg',
  'release_date': '2019-09-30',
  'title': 'Doom: Annihilation',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 295},
 {'adult': False,
  'backdrop_path': '/AwWMcB5lFPLe8nZVXrBqPdHQ26.jpg',
  'genre_ids': [10751, 35, 14],
  'id': 35169,
  'original_language': 'en',
  'original_title': 'Furry Vengeance',
  'overview': 'When real estate developer Dan Sanders finalizes plans to level a swath of pristine Oregon forest to make way for a soulless housing subdivision, a band of woodland creatures rises up to throw a monkey wrench into the greedy scheme. Just how much mischief from the furry critters can the businessman take before he calls it quits?',
  'popularity': 12.542,
  'poster_path': '/vR8BBTRxU2xu0FvrTTio8CvCwi3.jpg',
  'release_date': '2010-04-02',
  'title': 'Furry Vengeance',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 481},
 {'adult': False,
  'backdrop_path': '/cGUxPXVZF5n5P09dnlhWC8bLVp7.jpg',
  'genre_ids': [18, 53],
  'id': 505225,
  'original_language': 'en',
  'original_title': 'The Last Thing He Wanted',
  'overview': 'At the turning point of the Iran-Contra affair, Elena McMahon, a fearless investigative journalist covering the 1984 US presidential campaign, puts herself in danger when she abandons her assigned task in order to fulfill the last wish of her ailing father, a mysterious man whose past activities she barely knows.',
  'popularity': 16.503,
  'poster_path': '/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg',
  'release_date': '2020-02-14',
  'title': 'The Last Thing He Wanted',
  'video': False,
  'vote_average': 4.9,
  'vote_count': 385}]

In [83]:
data1 = pd.DataFrame()

In [84]:
for i in range(1,486):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = response.json()['results']
    data1 = data1.append(temp_df,ignore_index=True)

In [85]:
data1.shape

(9684, 14)

In [86]:
data1.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5hNcsnMkwU2LknLoru73c76el3z.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",29.869,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3441
1,False,/wPU78OPN4BYEgWYdXyg0phMee64.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,83.153,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,20823
2,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",91.658,/eEslKSwcqmiNS6va24Pbxf2UKmJ.jpg,1972-03-14,The Godfather,False,8.7,15538
3,False,/v5CEt88iDsuoMaW1Q5Msu9UZdEt.jpg,"[10749, 18]",730154,ja,きみの瞳が問いかけている,"A tragic accident lead to Kaori's blindness, b...",13.026,/cVn8E3Fxbi8HzYYtaSfsblYC4gl.jpg,2020-10-23,Your Eyes Tell,False,8.7,246
4,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,54.173,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-11-30,Schindler's List,False,8.6,12423

In [87]:
data1.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [88]:
data1.drop(['adult', 'backdrop_path', 'original_language','original_title', 'popularity', 'poster_path',
       'release_date', 'video'], inplace=True,axis=1)

In [89]:
backup = pd.DataFrame()
backup = data1.copy()

In [90]:
backup.to_csv('data/movie_genre.csv', index=False)

In [112]:
data1 = pd.read_csv('data/movie_genre.csv')
data1.dtypes

genre_ids        object
id                int64
overview         object
title            object
vote_average    float64
vote_count        int64
dtype: object

In [92]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,"Raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,Framed in the 1940s for the double murder of h...,The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,"Spanning the years 1945 to 1955, a chronicle o...",The Godfather,8.7,15538
3,"[10749, 18]",730154,"A tragic accident lead to Kaori's blindness, b...",Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,The true story of how businessman Oskar Schind...,Schindler's List,8.6,12423

In [93]:
response2 = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')
response2

In [94]:
data2 = response2.json()['genres']

In [95]:
data2 = pd.DataFrame(data2)

In [96]:
data2.head()

   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy
4  80      Crime

In [97]:
data1.shape

(9684, 6)

# LowerCase

In [103]:
data1['overview'] = data1['overview'].str.lower()

In [104]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,"raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,framed in the 1940s for the double murder of h...,The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,"spanning the years 1945 to 1955, a chronicle o...",The Godfather,8.7,15538
3,"[10749, 18]",730154,"a tragic accident lead to kaori's blindness, b...",Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,the true story of how businessman oskar schind...,Schindler's List,8.6,12423

# Html Tags Removal

In [113]:
data1['overview'] = str(data1['overview'])

In [115]:
data1['overview']

0       0       Raj is a rich, carefree, happy-go-luck...
1       0       Raj is a rich, carefree, happy-go-luck...
2       0       Raj is a rich, carefree, happy-go-luck...
3       0       Raj is a rich, carefree, happy-go-luck...
4       0       Raj is a rich, carefree, happy-go-luck...
                              ...
9679    0       Raj is a rich, carefree, happy-go-luck...
9680    0       Raj is a rich, carefree, happy-go-luck...
9681    0       Raj is a rich, carefree, happy-go-luck...
9682    0       Raj is a rich, carefree, happy-go-luck...
9683    0       Raj is a rich, carefree, happy-go-luck...
Name: overview, Length: 9684, dtype: object

In [116]:
def tags_remove(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [117]:
te = '<h1><p>Sambit is fast as<b>fire</b><a href='' https://www.kaggle.com/sambitreactml/text-preprocessing/edit>boy</p></h1>'
tags_remove(te)

'Sambit is fast asfireboy'

In [118]:
data1['overview']=data1['overview'].apply(tags_remove)

# Urls Removal

In [119]:
def url_remove(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [120]:
te = 'Sambit is fast as https://www.kaggle.com/sambitreactml/text-preprocessing/edit fire boy'
url_remove(te)

'Sambit is fast as  fire boy'

In [121]:
data1['overview']=data1['overview'].apply(url_remove)

# Punctuation Removal

In [122]:
punc_list = st.punctuation
punc_list

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [123]:
def punc_remove(text):
    return text.translate(str.maketrans('','',punc_list))

In [124]:
data1['overview']=data1['overview'].apply(punc_remove)

In [125]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,0 Raj is a rich carefree happygolucky se...,Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,0 Raj is a rich carefree happygolucky se...,The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,0 Raj is a rich carefree happygolucky se...,The Godfather,8.7,15538
3,"[10749, 18]",730154,0 Raj is a rich carefree happygolucky se...,Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,0 Raj is a rich carefree happygolucky se...,Schindler's List,8.6,12423

# Spellings correction

In [126]:
def spell_check(text):
    textb = TextBlob(text)
    return textb.correct().string

In [127]:
te = 'ceertain conditionas duriing seveal ggenerations aree moodified in the saame maner.'
spell_check(te)

'certain conditions during several generations are modified in the same manner.'

In [128]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,0 Raj is a rich carefree happygolucky se...,Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,0 Raj is a rich carefree happygolucky se...,The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,0 Raj is a rich carefree happygolucky se...,The Godfather,8.7,15538
3,"[10749, 18]",730154,0 Raj is a rich carefree happygolucky se...,Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,0 Raj is a rich carefree happygolucky se...,Schindler's List,8.6,12423

# Stopwords Removal

In [129]:
def stop_remove(text):
    n_text = []
    stops = stopwords.words('english')
    for word in text.split():
        if word in stops:
            n_text.append('')
        else:
            n_text.append(word)
    s = n_text[:]
    n_text.clear()
    return " ".join(s)

In [130]:
data1['overview']=data1['overview'].apply(stop_remove)

In [131]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,0 Raj rich carefree happygolucky second 1 Fr...,Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,0 Raj rich carefree happygolucky second 1 Fr...,The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,0 Raj rich carefree happygolucky second 1 Fr...,The Godfather,8.7,15538
3,"[10749, 18]",730154,0 Raj rich carefree happygolucky second 1 Fr...,Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,0 Raj rich carefree happygolucky second 1 Fr...,Schindler's List,8.6,12423

# Tokenization 
* word
* sentence

In [132]:
te = 'certain conditions in 5km range during several generations are modified in the same manner as in 100$.this is very unfortunate and heartbreaking to see such rises in petrol prices 5$ a day.'

In [133]:
sents = sent_tokenize(te)
sent

['certain conditions in 5km range during several generations are modified in the same manner as in 100$.',
 'this is very unfortunate and heartbreaking to see such rises in petrol prices 5$ a day.']

In [134]:
words = word_tokenize(te)
words

['certain',
 'conditions',
 'in',
 '5km',
 'range',
 'during',
 'several',
 'generations',
 'are',
 'modified',
 'in',
 'the',
 'same',
 'manner',
 'as',
 'in',
 '100',
 '$',
 '.this',
 'is',
 'very',
 'unfortunate',
 'and',
 'heartbreaking',
 'to',
 'see',
 'such',
 'rises',
 'in',
 'petrol',
 'prices',
 '5',
 '$',
 'a',
 'day',
 '.']

In [135]:
tokenizer = spacy.load('en_core_web_sm')
doc = tokenizer(te)
doc

certain conditions in 5km range during several generations are modified in the same manner as in 100$.this is very unfortunate and heartbreaking to see such rises in petrol prices 5$ a day.

In [136]:
for tokens in doc:
    print(tokens)

certain
conditions
in
5
km
range
during
several
generations
are
modified
in
the
same
manner
as
in
100$.this
is
very
unfortunate
and
heartbreaking
to
see
such
rises
in
petrol
prices
5
$
a
day
.

In [137]:
def tokenization(text):
    words = word_tokenize(text)
    return words

In [138]:
data1['overview']=data1['overview'].apply(tokenization)

In [139]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,"[0, Raj, rich, carefree, happygolucky, second,...",Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,"[0, Raj, rich, carefree, happygolucky, second,...",The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,"[0, Raj, rich, carefree, happygolucky, second,...",The Godfather,8.7,15538
3,"[10749, 18]",730154,"[0, Raj, rich, carefree, happygolucky, second,...",Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,"[0, Raj, rich, carefree, happygolucky, second,...",Schindler's List,8.6,12423

# Stemming

In [140]:
te = 'certain conditions in 5km range during several generations are modified in the same manner as in 100$.this is very unfortunate and heartbreaking to see such rises in petrol prices 5$ a day.'

In [141]:
def stemming(text):
    stemmer = PorterStemmer()
    return " ".join([stemmer.stem(word) for word in text.split()])

stemming(te)

'certain condit in 5km rang dure sever gener are modifi in the same manner as in 100$.thi is veri unfortun and heartbreak to see such rise in petrol price 5$ a day.'

In [142]:
def stemming_token(token_list):
    lists=[]
    stemmer = PorterStemmer()
    lists.append([stemmer.stem(word) for word in token_list])
    return lists

In [143]:
data1['overview']=data1['overview'].apply(stemming_token)

In [145]:
data1.head()

,genre_ids,id,overview,title,vote_average,vote_count
0,"[35, 18, 10749]",19404,"[[0, raj, rich, carefre, happygolucki, second,...",Dilwale Dulhania Le Jayenge,8.7,3441
1,"[18, 80]",278,"[[0, raj, rich, carefre, happygolucki, second,...",The Shawshank Redemption,8.7,20823
2,"[18, 80]",238,"[[0, raj, rich, carefre, happygolucki, second,...",The Godfather,8.7,15538
3,"[10749, 18]",730154,"[[0, raj, rich, carefre, happygolucki, second,...",Your Eyes Tell,8.7,246
4,"[18, 36, 10752]",424,"[[0, raj, rich, carefre, happygolucki, second,...",Schindler's List,8.6,12423