# One Hot Encoding

In [128]:
import pandas as pd
import numpy as np
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

In [129]:
sentence = ['people watching campusx', 'campusx watching campusx', 'people writeing comment', 'campusx writeing comment']
value  = [1,1,0,0]
dic = {'sentences':sentence,
       'values':value}
data = pd.DataFrame(dic)

In [130]:
data

                  sentences  values
0   people watching campusx       1
1  campusx watching campusx       1
2   people writeing comment       0
3  campusx writeing comment       0

In [131]:
def tokenize(text):
    words = word_tokenize(text)
    return words
def lemmatizer(token_list):
    wnl = WordNetLemmatizer()
    return ([wnl.lemmatize(word,'v') for word in token_list])

In [132]:
data['sentences'] = data['sentences'].apply(tokenize)

In [133]:
data['sentences'] = data['sentences'].apply(lemmatizer)

In [134]:
data

                   sentences  values
0   [people, watch, campusx]       1
1  [campusx, watch, campusx]       1
2   [people, write, comment]       0
3  [campusx, write, comment]       0

In [135]:
corpus = []
for i in range(data.shape[0]):
   corpus=corpus+data['sentences'][i]

In [136]:
corpus

['people',
 'watch',
 'campusx',
 'campusx',
 'watch',
 'campusx',
 'people',
 'write',
 'comment',
 'campusx',
 'write',
 'comment']

In [137]:
vocabulary = np.unique(corpus)
vocabulary

array(['campusx', 'comment', 'people', 'watch', 'write'], dtype='<U7')

In [143]:
data['sentences'][0]

['people', 'watch', 'campusx']

In [144]:
def ohe(text):
    new_vec=[]
    encoder =[]
    for word in text:
        vector = []
        for words in vocabulary:
            vector.append(int(str(words)==str(word)))
        encoder.append(vector)
    return encoder

In [146]:
ohe(['people','watch','campusx'])

[[0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [1, 0, 0, 0, 0]]

In [147]:
data['sentences'] = data['sentences'].apply(ohe)

In [148]:
data

                                           sentences  values
0  [[0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [1, 0, 0, 0...       1
1  [[1, 0, 0, 0, 0], [0, 0, 0, 1, 0], [1, 0, 0, 0...       1
2  [[0, 0, 1, 0, 0], [0, 0, 0, 0, 1], [0, 1, 0, 0...       0
3  [[1, 0, 0, 0, 0], [0, 0, 0, 0, 1], [0, 1, 0, 0...       0

In [149]:
data['sentences'][0]

[[0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [1, 0, 0, 0, 0]]