In [123]:
import pandas as pd
import numpy as np
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

In [124]:
sentence = ['people watching campusx', 'campusx watching campusx', 'people writing comment', 'campusx writing comment']
value  = [1,1,0,0]
dic = {'sentences':sentence,
       'values':value}
data = pd.DataFrame(dic)
data2 = data.copy()

In [125]:
def tokenize(text):
    words = word_tokenize(text)
    return words

def lemmatizer(token_list):
    wnl = WordNetLemmatizer()
    return ([wnl.lemmatize(word,'v') for word in token_list])

data['sentences'] = data['sentences'].apply(tokenize)
data['sentences'] = data['sentences'].apply(lemmatizer)

In [126]:
data

                   sentences  values
0   [people, watch, campusx]       1
1  [campusx, watch, campusx]       1
2   [people, write, comment]       0
3  [campusx, write, comment]       0

In [127]:
data['sentences'][0]

['people', 'watch', 'campusx']

In [128]:
corpus = []
for i in range(data.shape[0]):
   corpus=corpus+data['sentences'][i]

In [129]:
vocabulary = np.unique(corpus)
vocabulary = (list(vocabulary))

In [130]:
vocabulary

['campusx', 'comment', 'people', 'watch', 'write']

In [131]:
def BOW(text):
    vector=[]
    for words in vocabulary:
        vector.append(text.count(str(words)))
    return(vector)

In [132]:
BOW(['campusx', 'watch', 'campusx'])

[2, 0, 0, 1, 0]

In [133]:
data['sentences']=data['sentences'].apply(BOW)

In [134]:
data

         sentences  values
0  [1, 0, 1, 1, 0]       1
1  [2, 0, 0, 1, 0]       1
2  [0, 1, 1, 0, 1]       0
3  [1, 1, 0, 0, 1]       0

In [135]:
BOW(lemmatizer(tokenize("campusx writing and watching comment of campusx")))

[2, 1, 0, 1, 1]

# Count Vectorizer

In [136]:
from sklearn.feature_extraction.text import CountVectorizer

In [137]:
data2

                  sentences  values
0   people watching campusx       1
1  campusx watching campusx       1
2    people writing comment       0
3   campusx writing comment       0

In [138]:
cv = CountVectorizer()
bow = cv.fit_transform(data2['sentences'])

In [139]:
cv.vocabulary_.keys()

dict_keys(['people', 'watching', 'campusx', 'writing', 'comment'])

In [140]:
bow.toarray()

array([[1, 0, 1, 1, 0],
       [2, 0, 0, 1, 0],
       [0, 1, 1, 0, 1],
       [1, 1, 0, 0, 1]], dtype=int64)

In [141]:
cv.transform(["campusx writing and watching comment of campusx"]).toarray()

array([[2, 1, 0, 1, 1]], dtype=int64)