In [119]:
import pandas as pd
import numpy as np
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

In [120]:
sentence = ['people watching campusx', 'campusx watching campusx', 'people writing comment', 'campusx writing comment']
value  = [1,1,0,0]
dic = {'sentences':sentence,
       'values':value}
data = pd.DataFrame(dic)
data2 = data.copy()

In [121]:
def tokenize(text):
    words = word_tokenize(text)
    return words

def lemmatizer(token_list):
    wnl = WordNetLemmatizer()
    return ([wnl.lemmatize(word,'v') for word in token_list])

data['sentences'] = data['sentences'].apply(tokenize)
data['sentences'] = data['sentences'].apply(lemmatizer)

In [122]:
data

                   sentences  values
0   [people, watch, campusx]       1
1  [campusx, watch, campusx]       1
2   [people, write, comment]       0
3  [campusx, write, comment]       0

In [123]:
data['sentences'][0]

['people', 'watch', 'campusx']

In [124]:
corpus = []
for i in range(data.shape[0]):
    corpus.append(data['sentences'][i])

In [125]:
corpus

[['people', 'watch', 'campusx'],
 ['campusx', 'watch', 'campusx'],
 ['people', 'write', 'comment'],
 ['campusx', 'write', 'comment']]

In [126]:
vocab = []
for row in corpus:
    res = list(map(list, zip(row, row[1:])))
    vocab.append(res)

In [127]:
vocabulary = []
for i in range(len(vocab)):
    for j in range(2):
        vocabulary.append(vocab[i][j])

In [129]:
for i in range(len(vocabulary)-1):
    for j in range((i+1),len(vocabulary)):
        if vocabulary[i]==vocabulary[j]:
            vocabulary.remove(vocabulary[j])

In [130]:
vocabulary

[['people', 'watch'],
 ['campusx', 'watch'],
 ['watch', 'campusx'],
 ['people', 'write'],
 ['campusx', 'write'],
 ['write', 'comment']]

In [131]:
def bigrams(text):
    res = list(map(list, zip(text, text[1:])))
    vector=[]
    for words in vocabulary:
        if words in res:
            vector.append(1)
        else:
            vector.append(0)
    return vector

In [132]:
data['sentences'] = data['sentences'].apply(bigrams)

In [133]:
data

            sentences  values
0  [1, 0, 1, 0, 0, 0]       1
1  [0, 1, 1, 0, 0, 0]       1
2  [0, 0, 0, 1, 0, 1]       0
3  [0, 0, 0, 0, 1, 1]       0

# Count Vectorizer - N grams

In [134]:
from sklearn.feature_extraction.text import CountVectorizer

In [135]:
data2

                  sentences  values
0   people watching campusx       1
1  campusx watching campusx       1
2    people writing comment       0
3   campusx writing comment       0

### Bag of Words where - unigrams used

In [136]:
cv = CountVectorizer(ngram_range=(1,1))
bow = cv.fit_transform(data2['sentences'])

In [137]:
cv.vocabulary_

{'people': 2, 'watching': 3, 'campusx': 0, 'writing': 4, 'comment': 1}

### Bigrams

In [139]:
cv = CountVectorizer(ngram_range=(2,2))
bow = cv.fit_transform(data2['sentences'])

In [140]:
cv.vocabulary_

{'people watching': 2,
 'watching campusx': 4,
 'campusx watching': 0,
 'people writing': 3,
 'writing comment': 5,
 'campusx writing': 1}

In [143]:
bow.toarray()

array([[0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1]], dtype=int64)